/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* css for footer */
.fh{
    height: 250px;
}

.btn-primary{
    background-color: white;
    color: rebeccapurple;
    font-weight: 700;
    border: none;
}
.btn-primary:hover{
    background-color: rebeccapurple;
    color:  white;

}

.carousel img{
    height: 700px;

}

.extra-gap{
    height: 50px;

}
.circle-design{
    height: 25px;
    width: 25px;
    background-color: rgb(243, 235, 250);
    color: rebeccapurple;

}
.btn-card{
    background-color: rgba(222, 234, 247, 0.425);
}

.bg-purple{
    background-color: rebeccapurple;
    color: white;
}

.display-inline{
    display:inline
}